    .height-100{
        height:100vh;
    }
    
    .card{
        width:380px;
        border:none;
        height:280px;
    }
    
    .ratings{
        margin-right:10px;
    }
    
    .ratings i{
        
        color:#cecece;
        font-size:32px;
    }
    
    .rating-color{
        color:#BD712B !important;
    }

    .rating-star{
        font-size:14px !important;

    }
    
    .review-count{
        align-self: start;
        font-weight:400;
        font-size:10px !important;
    }
    
    .small-ratings i{
      color:#cecece;   
    }
    
    .review-stat{
        font-weight:300;
        font-size:18px;
        margin-bottom:2px;
    }