.orange{
color: var(--orange) !important;
}
.fff{
   color:var(--fff) !important;
}
.gray1 {
    color: var(--gray1) !important;
}
.gray2 {
    color: var(--gray2) !important;
}
.background{
  background-color: var(--background) !important;
}

.custom-border{
    border: 2px solid var(--orange);
    border-radius: 1000%;
    padding-inline: 10px !important;

}
.background{
  background-color: var(--background) !important;
}

*{
  box-sizing: border-box;
}














/* <div class="row g-2">
<div class="col-6-md">
  <div class="form-outline  ">
    <input type="text" id="form12" class="form-control" disabled  value={"michael"}/>
    <label class="form-label " for="form12">
     name
    </label>
  </div>
</div>
</div> */






.custom-btn:hover {
  background-color: var(--orange);
  color: white;
}



input, .form-control, .custom-select {
    border: 1px solid #Bd712b !important;
    background-color: var(--gray2) !important;
    color: #Bd712b !important;
  }
  

  .form-control:focus, .custom-select:focus {
    border: 1px solid #Bd712b !important;
    background-color: transparent !important;
    box-shadow: 0 0 0 0.25rem rgba(189, 113, 43, 0.25) !important; 
  }
  
  input::after{
    background-color: transparent ; 
  }

  .form-label {
    background-color: var(--background) !important;
    color: var(--gray1) !important;
  } 




  .form-check-input[type=radio]:checked:after {
    border-radius: 50%;
    width: 0.625rem;
    height: 0.625rem;
    border-color: var(--orange);
    background-color: var(--orange);
    transition: border-color;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

.form-check-input[type=radio]:after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  z-index: 1;
  display: block;
  border-radius: 50%;
  background-color:transparent;
}




   /* <div class="row g-2">
   <div class="col-6-md">
     <div class="form-outline  ">
       <input
         type="text"
         id="form12"
         class="form-control"
       />
       <label class="form-label " for="form12">
         name
       </label>
     </div>
   </div>
 </div> */