
  .navbar-toggler-icon {
    background-image: none!important;
    background-color: var(--orange);
    height: 3px;
    width: 25px;
    margin: 10px 0;
    position: relative;
    transition: all 0.35s ease-out;
    transform-origin: center;
  }
  
  .navbar-toggler-icon::before {
    display: block;
    background-color: var(--orange);
    height: 3px;
    content: "";
    position: relative;
    top: -7px;
    transition: all 0.15s ease-out;
    transform-origin: center;
  }
  
  .navbar-toggler-icon::after {
    display: block;
    background-color: var(--orange);
    height: 3px;
    content: "";
    position: relative;
    top: 4px;
    transition: all 0.35s ease-out;
    transform-origin: center;
  }
  
  .navbar-dark .navbar-toggler-icon,
  .navbar-dark .navbar-toggler-icon::before,
  .navbar-dark .navbar-toggler-icon::after {
    background-color: var(--bs-gray-100);
  }
  
  .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    transform: rotate(45deg);
  }
  
  .navbar-toggler:not(.collapsed) .navbar-toggler-icon::before {
    opacity: 0;
  }
  
  .navbar-toggler:not(.collapsed) .navbar-toggler-icon::after {
    transform: rotate(-90deg) translateX(7px);
  }

  @media screen and (max-width: 991px) {
    .collapse, .collapsing{
      display: flex ;
      flex-direction: column ;
      justify-content: center;
    }
    .customSearch{
      margin: auto;
      margin-block: 10px;
    }
  
  }


  
  .custom-search {
      border: 1px solid #Bd712b !important;
      background-color: var(--gray2) !important;
      color: #Bd712b !important;
    }
    
  
    .custom-search:focus, .custom-search:focus {
      border: 1px solid #Bd712b !important;
      background-color: transparent !important;
      box-shadow: 0 0 0 0.25rem rgba(189, 113, 43, 0.25) !important; 
    }
    
    .custom-search::after{
      background-color: transparent ; 
    }

  
  
  