@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
  --orange: #Bd712b;
  --fff: #ffffff;
  --gray1: #959595;
  --gray2: #232122;
  --background: #100E0f;

}
body {
  margin: 0;
  font-family:'Nunito Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
